/*COLORES
    COLOR DESIERTO OSCURO PARA TITULOS BODY #977C52
    COLOR NARANJITA PARA TEXTO #D0B7A0
    COLOR AZUL #00789D
    COLOR DE LAS CARD rgba(208, 183, 160, 0.7);
    COLOR FONDO BODY #FFFFFF*/

/*TIPOGRAFIA TODOS LOS TEXTOS, SOLO VARIA EL TAMAÑO
    font-family: 'Inter';
    font-style: normal;
    text-transform: uppercase;*/



/*CSS HEADER*/






/*CSS BODY*/







/*CSS FOOTER*/